<% action_user = notification.action_user %>
<% post = notification.post %>

<div class="user-view clearfix">
  <% unless notification.action_user.nil?  %>
    <%= link_to user_path(notification.action_user) do %>
      <%= attachment_image_tag action_user, :profile_image, format: "jpeg", class: "rounded-circle", fallback: "no_image.jpg", size:"80x80" %>
    <% end %>
    <%= notification_form(notification) %>
    <span class="moderate-font"><%= "(#{time_ago_in_words(notification.created_at)}å‰)" %></span>
  <% end %>
  <br>
  <% if !@post_comment.nil? %>
    <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @post_comment %></p>
  <% end %>
</div>