<table class="table table-hover">
	<thead class="thead-light">
		<th>社員ID</th>
		<th>プロフィール画像</th>
		<th>氏名</th>
		<th>フリガナ</th>
		<th>所属部署名</th>
		<th>もらったThanks!</th>
		<th>送ったThanks!</th>
	</thead>
	<tbody>
		<% users.each do |user| %>
			<tr>
				<td class="align-middle"><%= user.id %></td>
				<td>
					<%= attachment_image_tag user, :profile_image, format: "jpeg", class: "rounded-circle", fallback: "no_image.jpg", size: "60x60" %>
				</td>
				<td class="align-middle">
					<%= link_to admins_user_path(user) do %>
						<%= user.full_name %>
					<% end %>
				</td>
				<td class="align-middle"><%= user.full_name_kana %></td>
				<td class="align-middle"><%= user.department.name %></td>
				<td class="align-middle"><%= user.receiver.count %></td>
				<td class="align-middle"><%= user.sender.count %></td>
			</tr>
		<% end %>
	</tbody>
</table>