<table class="admin_customer_index has_border">
	<thead>
		<th>社員ID</th>
		<th>プロフィール画像</th>
		<th>氏名</th>
		<th>フリガナ</th>
		<th>所属部署名</th>
		<th>もらったThanks!</th>
		<th>送ったThanks!</th>
	</thead>
	<tbody>
		<% users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= attachment_image_tag user, :profile_image, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg", size: "60x60" %></td>
				<td><%= user.full_name %></td>
				<td><%= user.full_name_kana %></td>
				<td><%= user.department.name %></td>
				<td><%= user.receiver.count %></td>
				<td><%= user.sender.count %></td>
				<td><%= link_to "詳細", admins_user_path(user), class: "btn btn-primary" %></td>
			</tr>
		<% end %>
	</tbody>
</table>