<div class="container-fulid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
			<h3 class="text-center"><%= @user.full_name %> さん<br>個人情報編集</h3>
      <hr>
			<%= form_for(@user, url: admins_user_path(@user)) do |f| %>
				<%= render 'layouts/error_messages', resource: @user %>
					<div class="field">
						<%= f.label :profile_image, "プロフィール画像" %>
						<%= f.attachment_field :profile_image, class: "user_image" %>
					</div>
					<div class="field">
						<%= f.label :last_name, "(姓)", class: "user_name" %>
						<%= f.text_field :last_name, :placeholder =>"#{@user.last_name}", class:"form-control" %>
						<%= f.label :first_name, "(名)", class: "user_name" %>
						<%= f.text_field :first_name, :placeholder =>"#{@user.first_name}", class:"form-control" %>
					</div>
					<div class="field">
						<%= f.label :last_name_kana, "(セイ)" %>
						<%= f.text_field :last_name_kana, :placeholder =>"#{@user.last_name_kana}", class:"form-control" %>
						<%= f.label :first_name_kana, "(メイ)" %>
						<%= f.text_field :first_name_kana, :placeholder =>"#{@user.first_name_kana}", class:"form-control" %>
					</div>
					<div class="field">
						<%= f.label :email, "メールアドレス" %>
						<%= f.email_field :email, autocomplete: "email", :placeholder =>"#{@user.email}", class:"form-control" %>
					</div>
					<div class="field">
						<%= f.label :department_id, "所属部署名" %>
						<%= f.collection_select :department_id, Department.all, :id, :name, include_blank: '選択してください' %>
					</div>
					<div class="field">
						<%= f.label :ステータス , class:"font" %>
						<%= f.radio_button :deleted_at, :NULL %>在籍
						<%= f.radio_button :deleted_at, :NOTNULL %>退職
					</div>
					<div class="actions">
						<td><%= f.submit "更新", class: "btn btn-block btn-primary" %></td>
					</div>
				<% end %>
		</div>
	</div>
</div>