<div class="container-fluid yield">
  <div class="d-flex flex-row">
		<div class="sidebar col-2">
			<h3>部署一覧</h3>
			<table class="table">
					<tbody>
						<% @departments.each do |department| %>
							<tr>
								<td><%= link_to department.name, admins_users_path(department_id: department.id) %></td>
							</tr>
						<% end %>
					</tbody>
			</table>
		</div>
		<div class="col-10">
			<% if params[:department_id] %>
				<h2 class="section-ttl"><%= @department.name %>の社員一覧 (全<%= @all_users_count %>名)</h2>
			<% else %>
				<h2 class="section-ttl">社員一覧 (全<%= @all_users_count %>名)</h2>
			<% end %>
			<div class="col-4">
				<%= search_form_for @search, url: admins_users_path do |f| %>
					<%= f.search_field :full_name_or_full_name_kana_cont, autofocus: true, placeholder: "氏名検索", class:"form-control" %>
					<%= f.submit "検索", class: "btn btn-primary" %>
				<% end %>
			</div>
			<section class="inner">
				<%= render 'index', users: @users %>
				<div class="d-flex justify-content-center">
					<%= paginate @users, class: "pagination" %>
				</div>
			</section>
			<div class="clearfix">
				<%= link_to "CSVエクスポート", admins_users_path(format: :csv), class: "btn btn-warning float-left" %>
				<div class="float-right">
					<%= form_tag import_admins_users_path, multipart: true do %>
						<%= file_field_tag :file %>
						<%= submit_tag "CSVインポート", class: "btn btn-primary" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>