<% post_comments.each do |post_comment| %>
  <li class="comment">
    <div class="comment-body bb">
      <div class="comment-avatar">
        <div class="avatar">
          <%= attachment_image_tag post_comment.user, :profile_image, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg", size: "100x100" %>
        </div>
      </div>
      <div class="comment-text">
        <div class="comment-author clearfix">
          <a href="#"><%= post_comment.user.full_name %></a>
          <span class="comment-meta">
            <span class="comment-date"><%= post_comment.created_at.strftime("%Y-%m-%d %H:%M") %></span>
          </span>
        </div>
        <div class="comment-entry"><%= post_comment.comment %></div>
        <% if post_comment.user == current_user %>
          <%= link_to '削除', post_post_comment_path(post_comment), class: 'btn-sm btn-danger', method: :delete, remote: true %>
        <% end %>
      </div>
    </div>
  </li>
<% end %>