<%# リンク先が自分になってしまう要修正 %>
      <%= link_to user_path(post.sender.id) do %>
        <%= attachment_image_tag post.sender, :profile_image, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg", size: "200x200" %>
        <%= post.sender.full_name %>
      <% end %>
      <%= post.sender.department.name %>
      <div class="col-6 offset-2">
        <%= post.post %>
      </div>
      <%# リンク先が自分になってしまう要修正 %>
      <%= link_to user_path(post.receiver.id) do %>
        <%= attachment_image_tag post.receiver, :profile_image, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg", size: "200x200" %>
        <%= post.receiver.full_name %>
      <% end %>
      <%= post.receiver.department.name %>
      <li>
        <i class="fa fa-calendar"></i><%= post.created_at.strftime("%Y-%m-%d %H:%M") %>
      </li>
      <% if post.favorited_by?(current_user) %>
        <li>
          <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
          <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
          <%= post.favorites.count %>いいね
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to post_favorites_path(post), method: :post, remote: true do %>
          <i class="fas fa-heart" aria-hidden="true"  style="color: gray;"></i>
          <%= post.favorites.count %>いいね
          <% end %>
        </li>
      <% end %>
      <li>
        <%# コメント件数を記述 %>
        <i class="fa fa-comment"></i>
        <a href="#comments"><%= post.post_comments.count %>コメント</a>
      </li>
      <% if post.sender == current_user %>
        <%= link_to '編集', edit_post_path(post), class: "btn-lg btn-primary" %>
        <%= link_to "削除", post_path(post), method: :delete, class: "btn-lg btn-danger fas fa-trash-alt mr-1" %>
        <button type="button" class="btn btn-outline-danger"><i class="fas fa-trash-alt mr-1"></i>削除</button>
      <% end %>
    </ul>
</div>