<%# 投稿一覧内の投稿 %>
<div class="block-content">
  <%# <div class="col-3"> %>
    <%= link_to user_path(post.sender.id) do %>
      <%= attachment_image_tag post.sender, :profile_image, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg", size: "160x160" %>
      <%= post.sender.full_name %>
    <% end %>
      <%= post.sender.department.name %>
  <%# <div class="d-flex justify-content-center"> %>
  <%# <div class="col-6"> %>
    <%= link_to post_path(post.id) do %>
      <%= post.post %>
    <% end %>
  <%# </div> %>
  <%# </div> %>
  <%# <div class="col-3"> %>
    <%= link_to user_path(post.receiver.id) do %>
      <%= attachment_image_tag post.receiver, :profile_image, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg", size: "160x160" %>
      <%= post.receiver.full_name %>
    <% end %>
      <%= post.receiver.department.name %>
  <%# </div> %>
  <div>
    <span class="comment-date"><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></span>
  </div>
  <% if post.favorited_by?(current_user) %>
    <div>
      <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
        <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
        <%= post.favorites.count %>
      <% end %>
    </div>
  <% else %>
    <div>
      <%= link_to post_favorites_path(post), method: :post, remote: true do %>
        <i class="fas fa-heart" aria-hidden="true" style="color: gray;"></i>
        <%= post.favorites.count %>
      <% end %>
    </div>
  <% end %>
  <div>
    <i class="far fa-comment"></i>
    <a href="#comments"><%= post.post_comments.count %></a>
  </div>
</div>