<div class="card border-info">
  <div class="card-header">
    <%= link_to post_path(post.id) do %>
      <%= post.sender.full_name %>さんから<%= post.receiver.full_name %>さんへのThanks!
    <% end %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-3 text-center">
        <%= link_to user_path(post.sender.id) do %>
          <%= attachment_image_tag post.sender, :profile_image, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg", size: "120x120" %>
          <h5 class="card-title"><%= post.sender.full_name %></h5>
        <% end %>
          <h6 class="card-subtitle mb-2 text-muted"><%= post.sender.department.name %></h6>
      </div>
      <div class="col-6 w-100 text-wrap">
        <%= post.post %>
      </div>
      <div class="col-3 text-center">
        <%= link_to user_path(post.receiver.id) do %>
          <%= attachment_image_tag post.receiver, :profile_image, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg", size: "120x120" %>
          <h5 class="card-title"><%= post.receiver.full_name %></h5>
        <% end %>
          <h6 class="card-subtitle mb-2 text-muted"><%= post.receiver.department.name %></h6>
      </div>
    </div>
  </div>
  <div class="card-footer bg-light">
    <%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
    <% if post.favorited_by?(current_user) %>
      <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
        <i class="fas fa-heart bg-light" aria-hidden="true" style="color: red;"></i>
      <% end %>
      <%= post.favorites.count %>
    <% else %>
      <%= link_to post_favorites_path(post), method: :post, remote: true do %>
        <i class="fas fa-heart bg-light" aria-hidden="true" style="color: gray;"></i>
      <% end %>
      <%= post.favorites.count %>
    <% end %>
      <i class="far fa-comment bg-light"></i>
      <%= post.post_comments.count %>
  </div>
</div>