<div class="card">
  <h5 class="card-header">たくさんThanks!を受け取った人</h5>
    <div class="card-body">
      <table class="table">
        <tbody>
          <% receiver_ranks.each.with_index(1) do |user, i| %>
            <tr>
              <td class="align-middle"><h5><%= user.receiver.count %>Thanks!</h5></td>
              <td class="align-middle"><%= attachment_image_tag user, :profile_image, format: "jpeg", class: "rounded-circle", fallback: "no_image.jpg", size:"100x100" %></td>
              <td class="align-middle">
                <% if user.deleted_at.nil? %>
                  <%= link_to user_path(user.id) do %>
                    <h5><%= user.full_name %></h5>
                  <% end %>
                <% else %>
                  <h5>退職者</h5>
                <% end %>
              </td>
              <td class="align-middle">
                <% if user.deleted_at.nil? %>
                  <%= user.department.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>