<h1>投稿を編集する</h1>

<%= form_for(@post) do |f| %>

<%# エラーメッセージ %>
<% if @post.errors.any? %>
  <h2><%= @post.errors.count %> errors prohibited this obj from being saved:</h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>

  <div class="field">
    <h4>Opinion</h4>
    <%= f.text_area :body %>
  </div>
    <div class ="action">
      <%= f.submit 'Update Book' %>
    </div>
<% end %>

<%= link_to "Show", book_path(@book) %>
|
<%= link_to "Back", books_path %>