<div class="container-fluid yield">
  <div class="row">
    <div class="col-8 offset-2">
      <h3 class="text-center">投稿を編集する</h3>
      <hr>

      <%= form_for(@post) do |f| %>

        <%# エラーメッセージ %>
        <% if @post.errors.any? %>
          <h2><%= @post.errors.count %> errors prohibited this obj from being saved:</h2>
            <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
        <% end %>

        <div class="field">
          <%= f.text_area :post, class:"form-control", rows:"10" %>
        </div>
        <div class ="action">
          <%= f.submit '更新する', class: "btn btn-block btn btn-primary" %>
        </div>
      <% end %>
      <small>
        <%= link_to "投稿詳細に戻る", post_path(@post), class: "btn-sm btn-secondary fas fa-undo-alt" %>
      </small>
      <small>
        <%= link_to "投稿一覧に戻る", posts_path, class: "btn-sm btn-secondary fas fa-undo-alt" %>
      </small>
    </div>
  </div>
</div>