<div class="container-fluid yield">
  <div class="row">
    <div class="col-8 offset-2">
      <h3 class="section-title section-title-sm left">
        <span>Thanks!を送る</span>
      </h3>
      <div class="col-4">
        <%= render 'search', search: @search %>
      </div>
      <div class="card">
        <h6 class="card-header">Thanks!の送り方</h6>
        <small>相手の名前が分かる場合には氏名検索（漢字・カナ）</small>
        <small>検索後プルダウンから相手を選択</small>
        <small>メッセージを入力して送信！</small>
      </div>
      <%= form_with(model:@post, url: posts_path, local: true) do |f| %>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= @post.errors.count %>件のエラーが発生しました。</h2>
            <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%# 非同期で自動選択を実装する %>
        <%= f.collection_select(:receiver_id, @users, :id, :personal_info, include_blank: '送る相手を一覧から探す', class:"form-control")%>
        <small>*検索後プルダウンからユーザーを選択してください</small><br>
        <%= f.hidden_field :sender_id, :value => current_user.id %>
        <%= f.text_area :post, class:"form-control", rows:"20", placeholder:"ありがとうの気持ちをここに" %>
        <%= f.submit "送信", class:"btn btn-block btn-primary" %>
      <% end %>
    </div>
  </div>
</div>