  <div class="container-fluid yield">
    <div class="row">
      <div class="col-10 offset-1">
        <h3>今月のBest Thanks!</h3>
        <h3>たくさんThanks!を受け取った人</h3>
        <%= @post_receive_ranker %>
        <%# <%= @post_receiver_name %> %>
        <%# <% @posts_receive_ranker.each do |post_receive_ranker| %> %>
          <%# <%= attachment_image_tag post_receive_ranker.user, :profile_image, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg", size: "100x100" %> %>
          <%# <a href="#"><%= post_receive_ranker.user.full_name %></a> %>
        <%# <% end %> %>
        <h3>たくさんThanks!を送った人</h3>
        <%= @post_send_ranker %>
        <h3>最も共感されたThanks!</h3>
        <%= @post_favorite_ranker %>
    </div>
  </div>
</div>