<div class="container-fluid yield">
  <div class="row">
    <div class="col-10 offset-1">
      <h3>今月のBest Thanks!</h3>
      <h3>たくさんThanks!を受け取った人</h3>
      <table class="table">
        <tbody>
          <% @receiver_ranks.each.with_index(1) do |user, i| %>
            <tr>
              <td><%= user.receiver.count %>Thanks!</td>
              <%# リンクにならない %>
              <%= link_to user_path(user.id) do %>
                <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg", size:"100x100" %></td>
                <td><%= user.full_name %></td>
              <% end %>
              <td><%= user.department.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h3>たくさんThanks!を送った人</h3>
      <table class="table">
        <tbody>
          <% @sender_ranks.each.with_index(1) do |user, i| %>
            <tr>
              <td><%= user.sender.count %>Thanks!</td>
              <%# リンクにならない %>
              <%= link_to user_path(user.id) do %>
                <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg", size:"100x100" %></td>
                <td><%= user.full_name %></td>
              <% end %>
              <td><%= user.department.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h3>最もいいねされたThanks!</h3>
      <table class="table">
        <tbody>
          <% @post_ranks.each.with_index(1) do |post, i| %>
          <tr>
            <td><%= post.favorites.count %>いいね</td>
            <td><%= attachment_image_tag post.sender, :profile_image, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg", size:"60x60" %></td>
            <td><%= post.sender.full_name %></td>
            <td><%= post.sender.department.name %></td>
            <td><%= post.post %></td>
            <td><%= attachment_image_tag post.receiver, :profile_image, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg", size:"60x60" %></td>
            <td><%= post.receiver.full_name %></td>
            <td><%= post.receiver.department.name %></td>
          </tr>
          <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>