<div class="container-fluid yield">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">みんなのThanks!</h3>
      <hr>
      <table class="table table-sm table-hover" style="table-layout:fixed;width:100%;">
        <thead class="thead-light">
          <th style="width:10%">送信日時<%= sort_arc("occurred_date")%><%= sort_desc("occurred_date") %></th>
          <th style="width:10%">送った人</th>
          <th style="width:9%">所属部署</th>
          <th style="width:40%">投稿内容</th>
          <th style="width:10%">受け取った人</th>
          <th style="width:9%">所属部署</th>
          <th style="width:6%">いいね数</th>
          <th style="width:6%">スコア</th>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= post.created_at.strftime("%Y/%m/%d %H:%M") %></td>
              <td>
                <%= link_to admins_user_path(post.sender.id) do %>
                  <%= post.sender.full_name %>
                <% end %>
              </td>
              <td><%= post.sender.department.name %></td>
              <td style="word-wrap:break-word;"><%= post.post %></td>
              <td>
                <%= link_to admins_user_path(post.receiver.id) do %>
                  <%= post.receiver.full_name %>
                <% end %>
              </td>
              <td><%= post.receiver.department.name %></td>
              <td><%= post.favorites.count %></td>
              <td><%= post.score %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="clearfix">
        <%= link_to "CSVエクスポート", admins_index_path(format: :csv), class: "btn-sm btn-warning float-left fas fa-file-export" %>
      </div>
      <div class="d-flex justify-content-center">
        <%= paginate @posts, class: "pagination" %>
      </div>
    </div>
  </div>
</div>